<footer class="footer py-3 mt-auto">
    <div class="container d-flex justify-content-center align-items-center">
        <p class="text-center text-light fw-lighter">&copy; E-SHOPPER 2024 From <i><b> Nitin Yadav</b></i> </p>
    </div>
</footer>