<footer class="footer py-3 mt-auto">
    <div class="container d-flex justify-content-center align-items-center">
        <p class="text-center text-light fw-lighter">&copy; BookHub From <i><b> <a href="https://www.linkedin.com/in/nitin-yadav-372283239/" style="text-decoration: none; color:beige;"><b>Nitin Yadav</b></a></b></i> </p>
    </div>
</footer>